* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: red;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: greenyellow;
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: blueviolet;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}