* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #171717;
}


/* CONTAINER */

.container {
    width: 98%;
    height: 95vh;

    margin: 2.5vh auto;

    display: flex;
    flex-direction: column;
}


/* LINHA 1 */

.linha1 {
    background-color: #e8e6f5;

    flex-grow: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 7px;
    padding-right: 0;
}


/* LINHA 2 */

.linha2 {
    background-color: #d8f5c7;

    flex-grow: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 7px;
}


/* LINHA 3 */

.linha3 {
    background-color: #f8e3e3;

    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 7px;
}


/* LINHA 4 */

.linha4 {
    background-color: #f5f5d5;

    flex-grow: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* LINHA 5 */

.linha5 {
    background-color: #cfe2fa;

    flex-grow: 1;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* BOLINHAS */

.bolinha {
    width: 84px;
    height: 84px;

    border-radius: 50%;
}


/* CORES DAS BOLINHAS */


/* linha 1 */

.linha1 .bolinha {
    background-color: #aaa4d5;
}


/* linha 2 */

.linha2 .bolinha {
    background-color: #7ead5b;
}


/* linha 3 */

.linha3 .bolinha {
    background-color: #c87579;
}


/* linha 4 */

.linha4 .bolinha {
    background-color: #d8df12;
}


/* linha 5 */

.linha5 .bolinha {
    background-color: #5281ba;
}