* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    height: 100vh;
}

.nav {
    background-color: #d8bfd9;
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #ff6048;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: #25b3ad;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #8b27df;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}